extends layout

block content
  h1= title
  p Welcome to #{title}
  p The database has #{size} entries
  h2 Platforms
  each platform in platforms
    span
      a(href= '#' + platform) #{platform}
      span  | 
  h2 Games
  each platform in platforms
    - var gamesForPlatform = _.sortBy(_.filter(games, function(g) { return g.platforms.indexOf(platform) > -1 }), ['title'])
    a(name = platform)
    h3 #{platform}
    ul
      each game in gamesForPlatform
        li
          - var url = 'game/' + game.id
          a(href= url) #{game.title}
